name: Build the CI job for nodejs application
on:
  push:
    branches:
      - ci-branch
  pull_request:
    branches:
      - main


jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: list all the files and folder in build directory
        run: ls 

      - name: Upload artifacts check the node js application path 
        uses: actions/upload-artifact@v4
        with:
          name: nodejs-app-=artifacts
          path: ./